In [13]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import sidetable as stb

from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy import stats
from scipy.stats import kstest

from datetime import date
import holidays 

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [4]:
df = pd.read_csv('data/bikes.csv', index_col = 0)
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

In [7]:
df.shape

(730, 16)

In [8]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [17]:
lista_columnas = list(df.columns)
lista_columnas

['instant',
 'dteday',
 'season',
 'yr',
 'mnth',
 'holiday',
 'weekday',
 'workingday',
 'weathersit',
 'temp',
 'atemp',
 'hum',
 'windspeed',
 'casual',
 'registered',
 'cnt']

In [19]:
#cambiamos el nombre de las columnas para que sea más comprensible.

dicc_columnas = {'instant' : 'instant',
                'dteday' : 'date',
                'season' : 'season',
                'yr' : 'year',
                'mnth' : 'month',
                'holiday' : 'holiday',
                'weekday' : 'weekday',
                'workingday' : 'working_day',
                'weathersit' : 'weather',
                'temp' : 'temperature',
                'atemp' : 'feeling_temperature',
                'hum' : 'humidity',
                'windspeed' : 'wind_speed',
                'casual' : 'casual',
                'registered' : 'registered',
                'cnt' : 'total'}

df.rename(columns = dicc_columnas, inplace = True)

In [22]:
columnas_unicos = ['season', 'year', 'month', 'holiday', 'weekday', 'working_day', 'weather']

In [33]:
# Revisamos los valores únicos para las columnas seleccionadas.

for col in columnas_unicos:
    print(f'La columna {col} tiene como valores únicos: {", ".join(map(str, df[col].unique()))}.')

La columna season tiene como valores únicos: spring, summer, autumn, winter.
La columna year tiene como valores únicos: 0, 1.
La columna month tiene como valores únicos: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12.
La columna holiday tiene como valores únicos: 0, 1.
La columna weekday tiene como valores únicos: 6, 0, 1, 2, 3, 4, 5.
La columna working_day tiene como valores únicos: 0, 1.
La columna weather tiene como valores únicos: 2, 1, 3.

In [35]:
df_spring = df[df['season'] == 'spring']

df_spring

,instant,date,season,year,month,holiday,weekday,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,casual,registered,total
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.181250,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.686950,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.470250,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.606100,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.463500,43.6957,12.522300,82,1518,1600
5,6,06-01-2018,spring,0,1,0,4,1,1,8.378268,11.660450,51.8261,6.000868,88,1518,1606
6,7,07-01-2018,spring,0,1,0,5,1,2,8.057402,10.441950,49.8696,11.304642,148,1362,1510
7,8,08-01-2018,spring,0,1,0,6,0,2,6.765000,8.112700,53.5833,17.875868,68,891,959
8,9,09-01-2018,spring,0,1,0,0,0,1,5.671653,5.808750,43.4167,24.250650,54,768,822
9,10,10-01-2018,spring,0,1,0,1,1,1,6.184153,7.544400,48.2917,14.958889,41,1280,1321
10,11,11-01-2018,spring,0,1,0,2,1,2,6.932731,9.573200,68.6364,8.182844,43,1220,1263
11,12,12-01-2018,spring,0,1,0,3,1,1,7.081807,8.023650,59.9545,20.410009,25,1137,1162
12,13,13-01-2018,spring,0,1,0,4,1,1,6.765000,7.544150,47.0417,20.167000,38,1368,1406
13,14,14-01-2018,spring,0,1,0,5,1,1,6.595670,9.420650,53.7826,8.478716,54,1367,1421
14,15,15-01-2018,spring,0,1,0,6,0,2,9.566653,12.405600,49.8750,10.583521,222,1026,1248
15,16,16-01-2018,spring,0,1,0,0,0,1,9.498347,11.710850,48.3750,12.625011,251,953,1204
16,17,17-01-2018,spring,0,1,1,1,0,2,7.209153,8.838550,53.7500,12.999139,117,883,1000
17,18,18-01-2018,spring,0,1,0,2,1,2,8.883347,11.616650,86.1667,9.833925,9,674,683
18,19,19-01-2018,spring,0,1,0,3,1,2,11.979134,14.921100,74.1739,13.957239,78,1572,1650
19,20,20-01-2018,spring,0,1,0,4,1,2,10.728347,12.752500,53.8333,13.125568,83,1844,1927
20,21,21-01-2018,spring,0,1,0,5,1,1,7.277500,7.891650,45.7083,23.667214,75,1468,1543
21,22,22-01-2018,spring,0,1,0,6,0,1,2.424346,3.953480,40.0000,11.521990,93,888,981
22,23,23-01-2018,spring,0,1,0,0,0,1,3.957390,4.941955,43.6522,16.522200,150,836,986
23,24,24-01-2018,spring,0,1,0,1,1,1,3.993043,5.896500,49.1739,10.608110,86,1330,1416
24,25,25-01-2018,spring,0,1,0,2,1,2,9.162598,11.726300,61.6957,8.696332,186,1799,1985
25,26,26-01-2018,spring,0,1,0,3,1,3,8.917500,10.180000,86.2500,19.687950,34,472,506
26,27,27-01-2018,spring,0,1,0,4,1,1,7.995000,10.985000,68.7500,7.627079,15,416,431
27,28,28-01-2018,spring,0,1,0,5,1,2,8.342598,11.165850,79.3043,8.261100,38,1129,1167
28,29,29-01-2018,spring,0,1,0,6,0,1,8.057402,10.606300,65.1739,9.739455,123,975,1098
29,30,30-01-2018,spring,0,1,0,0,0,1,8.877402,12.516100,72.2174,4.956834,140,956,1096
30,31,31-01-2018,spring,0,1,0,1,1,2,7.414153,9.312500,60.3750,12.541864,42,1459,1501
31,32,01-02-2018,spring,0,2,0,2,1,2,7.879134,11.726500,82.9565,3.565271,47,1313,1360
32,33,02-02-2018,spring,0,2,0,3,1,2,10.660000,12.720850,77.5417,17.708636,72,1454,1526
33,34,03-02-2018,spring,0,2,0,4,1,1,7.665237,8.893900,43.7826,18.609384,61,1489,1550
34,35,04-02-2018,spring,0,2,0,5,1,2,8.663464,11.429350,58.5217,8.565213,88,1620,1708
35,36,05-02-2018,spring,0,2,0,6,0,2,9.566653,12.152900,92.9167,10.792293,100,905,1005
36,37,06-02-2018,spring,0,2,0,0,0,1,11.719153,14.583550,56.8333,9.500600,354,1269,1623
37,38,07-02-2018,spring,0,2,0,1,1,1,11.138347,15.182900,73.8333,3.042356,120,1592,1712
38,39,08-02-2018,spring,0,2,0,2,1,1,9.054153,9.912300,53.7917,24.250650,64,1466,1530
39,40,09-02-2018,spring,0,2,0,3,1,2,5.526103,7.214150,49.4783,12.652213,53,1552,1605
40,41,10-02-2018,spring,0,2,0,4,1,1,5.918268,7.477400,43.7391,14.869645,47,1491,1538
41,42,11-02-2018,spring,0,2,0,5,1,1,7.752731,10.675450,50.6364,7.272850,149,1597,1746
42,43,12-02-2018,spring,0,2,0,6,0,1,9.122500,11.647700,54.4167,13.625589,288,1184,1472
43,44,13-02-2018,spring,0,2,0,0,0,1,12.977402,16.205650,45.7391,17.479161,397,1192,1589
44,45,14-02-2018,spring,0,2,0,1,1,1,17.015000,19.917500,37.5833,27.999836,208,1705,1913
45,46,15-02-2018,spring,0,2,0,2,1,1,10.909567,12.713700,31.4348,19.522058,140,1675,1815
46,47,16-02-2018,spring,0,2,0,3,1,1,13.048701,15.810000,42.3478,16.869997,218,1897,2115
47,48,17-02-2018,spring,0,2,0,4,1,1,17.869153,21.432900,50.5000,15.416968,259,2216,2475
48,49,18-02-2018,spring,0,2,0,5,1,1,21.388347,25.599150,51.6667,17.749975,579,2348,2927
49,50,19-02-2018,spring,0,2,0,6,0,1,16.365847,19.570200,18.7917,34.000021,532,1103,1635
50,51,20-02-2018,spring,0,2,0,0,0,1,11.693897,13.866500,40.7826,14.956745,639,1173,1812
51,52,21-02-2018,spring,0,2,1,1,0,2,12.436653,14.203750,60.5000,20.625682,195,912,1107
52,53,22-02-2018,spring,0,2,0,2,1,1,7.471102,9.301650,57.7778,13.110761,74,1376,1450
53,54,23-02-2018,spring,0,2,0,3,1,1,9.091299,12.285850,42.3043,6.305571,139,1778,1917
54,55,24-02-2018,spring,0,2,0,4,1,2,12.121732,14.459550,69.7391,16.783232,100,1707,1807
55,56,25-02-2018,spring,0,2,0,5,1,2,14.938268,17.523050,71.2174,23.218113,120,1341,1461
56,57,26-02-2018,spring,0,2,0,6,0,1,11.582500,14.109600,53.7917,12.500257,424,1545,1969
57,58,27-02-2018,spring,0,2,0,0,0,1,14.082598,17.555450,68.0000,8.391616,694,1708,2402
58,59,28-02-2018,spring,0,2,0,1,1,2,16.698193,20.005900,87.6364,19.408962,81,1365,1446
59,60,01-03-2018,spring,0,3,0,2,1,1,10.933347,13.193950,53.5000,14.500475,137,1714,1851
60,61,02-03-2018,spring,0,3,0,3,1,1,13.735000,16.003550,44.9583,20.624811,231,1903,2134
61,62,03-03-2018,spring,0,3,0,4,1,1,8.131653,10.006650,31.8333,15.125518,123,1562,1685
62,63,04-03-2018,spring,0,3,0,5,1,2,10.728347,12.783950,61.0417,13.624182,214,1730,1944
63,64,05-03-2018,spring,0,3,0,6,0,2,15.750847,18.938950,78.9167,16.875357,640,1437,2077
64,65,06-03-2018,spring,0,3,0,0,0,2,15.437402,18.312600,94.8261,23.000229,114,491,605
65,66,07-03-2018,spring,0,3,0,1,1,1,10.731299,11.923050,55.1304,22.870584,244,1628,1872
66,67,08-03-2018,spring,0,3,0,2,1,1,11.992500,15.120000,42.0833,8.083550,316,1817,2133
67,68,09-03-2018,spring,0,3,0,3,1,2,12.129153,14.330400,77.5417,14.750050,191,1700,1891
68,69,10-03-2018,spring,0,3,0,4,1,3,15.952731,19.283400,0.0000,17.545759,46,577,623
69,70,11-03-2018,spring,0,3,0,5,1,2,12.977402,15.250000,64.9565,15.608990,247,1730,1977
70,71,12-03-2018,spring,0,3,0,6,0,1,13.495847,16.287500,59.4583,14.791925,724,1408,2132
71,72,13-03-2018,spring,0,3,0,0,0,1,15.758268,19.004550,52.7391,18.130468,982,1435,2417
72,73,14-03-2018,spring,0,3,0,1,1,1,13.333897,16.600000,49.6957,9.174042,359,1687,2046
73,74,15-03-2018,spring,0,3,0,2,1,2,13.013031,15.908900,65.5652,12.348703,289,1767,2056
74,75,16-03-2018,spring,0,3,0,3,1,2,14.973897,18.346500,77.6522,13.608839,321,1871,2192
75,76,17-03-2018,spring,0,3,0,4,1,1,17.015000,20.516650,60.2917,14.041793,424,2320,2744
76,77,18-03-2018,spring,0,3,0,5,1,1,22.140000,26.350450,52.5217,15.478139,884,2355,3239
77,78,19-03-2018,spring,0,3,0,6,0,1,19.372500,23.326250,37.9167,24.667189,1424,1693,3117
78,79,20-03-2018,spring,0,3,0,0,0,1,13.632500,16.287500,47.3750,13.917307,1047,1424,2471
354,355,21-12-2018,spring,0,12,0,3,1,2,17.561653,21.400850,85.8333,14.833800,107,2553,2660
355,356,22-12-2018,spring,0,12,0,4,1,2,17.356653,21.306050,75.7500,3.167425,227,2841,3068
356,357,23-12-2018,spring,0,12,0,5,1,1,15.306653,18.875650,68.6250,18.374482,163,2046,2209
357,358,24-12-2018,spring,0,12,0,6,0,1,12.402500,14.962100,54.2500,12.750368,155,856,1011
358,359,25-12-2018,spring,0,12,0,0,0,1,11.266103,13.998050,68.1304,10.391097,303,451,754
359,360,26-12-2018,spring,0,12,1,1,0,1,13.191299,15.776750,50.6957,16.044155,430,887,1317
360,361,27-12-2018,spring,0,12,0,2,1,2,13.325000,16.381650,76.2500,12.626150,103,1059,1162
361,362,28-12-2018,spring,0,12,0,3,1,1,12.264330,13.998700,50.3913,19.695387,255,2047,2302
362,363,29-12-2018,spring,0,12,0,4,1,1,10.181653,13.194600,57.4167,8.000604,254,2169,2423
363,364,30-12-2018,spring,0,12,0,5,1,1,12.778347,15.940600,63.6667,9.000579,491,2508,2999
364,365,31-12-2018,spring,0,12,0,6,0,1,16.810000,20.706050,61.5833,14.750318,665,1820,2485
365,366,01-01-2019,spring,1,1,0,0,0,1,15.170000,18.781050,69.2500,12.875189,686,1608,2294
366,367,02-01-2019,spring,1,1,1,1,0,1,11.194763,12.615200,38.1304,22.087555,244,1707,1951
367,368,03-01-2019,spring,1,1,0,2,1,1,6.150000,6.313750,44.1250,24.499957,89,2147,2236
368,369,04-01-2019,spring,1,1,0,3,1,2,4.407500,5.966850,41.4583,12.374900,95,2273,2368
369,370,05-01-2019,spring,1,1,0,4,1,1,10.899153,13.920600,52.4167,8.709129,140,3132,3272
370,371,06-01-2019,spring,1,1,0,5,1,1,13.700847,17.013350,54.2083,11.249836,307,3791,4098
371,372,07-01-2019,spring,1,1,0,6,0,1,16.126653,19.538950,53.1667,11.708786,1070,3451,4521
372,373,08-01-2019,spring,1,1,0,0,0,1,13.837500,17.012900,46.5000,12.833314,599,2826,3425
373,374,09-01-2019,spring,1,1,0,1,1,2,9.190847,12.373950,70.1667,6.626300,106,2270,2376
374,375,10-01-2019,spring,1,1,0,2,1,1,12.656536,15.941300,64.6522,12.565984,173,3425,3598
375,376,11-01-2019,spring,1,1,0,3,1,2,11.240847,14.141050,84.7500,8.791807,92,2085,2177
376,377,12-01-2019,spring,1,1,0,4,1,2,15.682500,19.096900,80.2917,12.124789,269,3828,4097
377,378,13-01-2019,spring,1,1,0,5,1,1,11.240847,12.468100,50.7500,25.333236,174,3040,3214
378,379,14-01-2019,spring,1,1,0,6,0,1,7.380000,9.154350,45.7500,12.541261,333,2160,2493
379,380,15-01-2019,spring,1,1,0,0,0,1,6.833347,8.081250,41.9167,16.834286,284,2027,2311
380,381,16-01-2019,spring,1,1,1,1,0,1,7.790000,9.533150,52.2500,15.500986,217,2081,2298
381,382,17-01-2019,spring,1,1,0,2,1,2,15.294763,18.213900,71.6087,23.391710,127,2808,2935
382,383,18-01-2019,spring,1,1,0,3,1,1,12.436653,13.762700,44.3333,27.833743,109,3267,3376
383,384,19-01-2019,spring,1,1,0,4,1,1,7.790000,9.501900,49.7500,14.750586,130,3162,3292
384,385,20-01-2019,spring,1,1,0,5,1,2,8.917500,11.047900,45.0000,13.584250,115,3048,3163
385,386,21-01-2019,spring,1,1,0,6,0,2,7.106653,8.743750,83.1250,14.917014,67,1234,1301
386,387,22-01-2019,spring,1,1,0,0,0,2,6.662500,8.112500,79.6250,13.375746,196,1781,1977
387,388,23-01-2019,spring,1,1,0,1,1,2,8.951653,12.152900,91.1250,7.417436,145,2287,2432
388,389,24-01-2019,spring,1,1,0,2,1,1,14.042500,17.455400,83.5833,8.292389,439,3900,4339
389,390,25-01-2019,spring,1,1,0,3,1,1,12.060847,14.741050,64.3750,10.791757,467,3803,4270
390,391,26-01-2019,spring,1,1,0,4,1,2,14.008347,17.802500,76.9583,4.917519,244,3831,4075
391,392,27-01-2019,spring,1,1,0,5,1,2,17.425000,20.769150,74.1250,22.958689,269,3187,3456
392,393,28-01-2019,spring,1,1,0,6,0,1,12.949153,16.318950,54.3333,14.125543,775,3248,4023
393,394,29-01-2019,spring,1,1,0,0,0,1,11.582500,13.636050,31.1250,16.083350,558,2685,3243
394,395,30-01-2019,spring,1,1,0,1,1,1,11.035847,13.131250,40.0833,14.458064,126,3498,3624
395,396,31-01-2019,spring,1,1,0,2,1,1,15.990000,19.065850,41.6667,17.541739,324,4185,4509
396,397,01-02-2019,spring,1,2,0,3,1,1,19.235847,23.326900,50.7917,12.667489,304,4275,4579
397,398,02-02-2019,spring,1,2,0,4,1,2,16.365847,19.948550,67.2917,12.541529,190,3571,3761
398,399,03-02-2019,spring,1,2,0,5,1,1,12.846653,15.467300,52.6667,11.959232,310,3841,4151
399,400,04-02-2019,spring,1,2,0,6,0,2,10.830847,13.636250,77.9583,8.167032,384,2448,2832
400,401,05-02-2019,spring,1,2,0,0,0,2,10.899153,13.226050,68.7917,11.791732,318,2629,2947
401,402,06-02-2019,spring,1,2,0,1,1,1,11.586969,14.821300,62.2174,10.304600,206,3578,3784
402,403,07-02-2019,spring,1,2,0,2,1,1,14.520847,18.055200,49.6250,9.874393,199,4176,4375
403,404,08-02-2019,spring,1,2,0,3,1,2,10.523347,13.321050,72.2917,8.959307,109,2693,2802
404,405,09-02-2019,spring,1,2,0,4,1,1,10.865000,13.099400,56.2083,13.000479,163,3667,3830
405,406,10-02-2019,spring,1,2,0,5,1,2,11.514153,14.677900,54.0000,7.834243,227,3604,3831
406,407,11-02-2019,spring,1,2,0,6,0,3,9.190847,10.543350,73.1250,19.416332,192,1977,2169
407,408,12-02-2019,spring,1,2,0,0,0,1,5.227500,5.082900,46.4583,27.417204,73,1456,1529
408,409,13-02-2019,spring,1,2,0,1,1,1,9.122500,11.395650,41.1250,11.207961,94,3328,3422
409,410,14-02-2019,spring,1,2,0,2,1,2,13.085847,16.697300,50.8750,9.458993,135,3787,3922
410,411,15-02-2019,spring,1,2,0,3,1,1,14.281653,17.581450,53.1250,12.167200,141,4028,4169
411,412,16-02-2019,spring,1,2,0,4,1,2,12.983347,16.508100,75.2917,6.125475,74,2931,3005
412,413,17-02-2019,spring,1,2,0,5,1,1,14.076653,17.581450,63.4583,13.791682,349,3805,4154
413,414,18-02-2019,spring,1,2,0,6,0,1,14.213347,17.771250,53.4583,12.792243,1435,2883,4318
414,415,19-02-2019,spring,1,2,0,0,0,2,11.480000,13.289400,51.5833,16.958504,618,2071,2689
415,416,20-02-2019,spring,1,2,1,1,0,1,11.480000,13.669550,50.7826,15.348561,502,2627,3129
416,417,21-02-2019,spring,1,2,0,2,1,1,11.800866,14.755650,59.4348,13.783039,163,3614,3777
417,418,22-02-2019,spring,1,2,0,3,1,1,16.229153,19.633350,56.7917,15.709557,394,4379,4773
418,419,23-02-2019,spring,1,2,0,4,1,1,18.620847,22.222300,55.4583,12.791171,516,4546,5062
419,420,24-02-2019,spring,1,2,0,5,1,2,16.707500,20.548550,73.7500,15.916989,246,3241,3487
420,421,25-02-2019,spring,1,2,0,6,0,1,11.924153,12.783750,39.5833,28.250014,317,2415,2732
421,422,26-02-2019,spring,1,2,0,0,0,1,11.445847,13.415400,41.0000,13.750343,515,2874,3389
422,423,27-02-2019,spring,1,2,0,1,1,1,15.033347,17.897700,49.0833,17.958211,253,4069,4322
423,424,28-02-2019,spring,1,2,0,2,1,1,14.725847,17.676250,39.5833,12.958939,229,4134,4363
424,425,01-03-2019,spring,1,3,0,4,1,1,19.919153,23.768550,61.5417,15.208129,325,4665,4990
425,426,02-03-2019,spring,1,3,0,5,1,2,14.486653,17.992100,65.7083,9.708568,246,2948,3194
426,427,03-03-2019,spring,1,3,0,6,0,2,16.980847,20.674600,62.1250,10.792293,956,3110,4066
427,428,04-03-2019,spring,1,3,0,0,0,1,13.359153,15.151050,40.3333,22.416257,710,2713,3423
428,429,05-03-2019,spring,1,3,0,1,1,1,9.976653,12.058550,50.6250,15.333486,203,3130,3333
429,430,06-03-2019,spring,1,3,0,2,1,1,10.591653,12.752100,45.6667,13.458625,221,3735,3956
430,431,07-03-2019,spring,1,3,0,3,1,1,16.570847,19.255000,51.3333,23.167193,432,4484,4916
431,432,08-03-2019,spring,1,3,0,4,1,1,21.627500,26.230200,56.7500,29.584721,486,4896,5382
432,433,09-03-2019,spring,1,3,0,5,1,2,16.844153,19.854150,40.7083,27.791600,447,4122,4569
433,434,10-03-2019,spring,1,3,0,6,0,1,11.787500,13.888350,35.0417,15.125250,968,3150,4118
434,435,11-03-2019,spring,1,3,0,0,0,1,14.831299,17.983500,47.6957,14.913329,1658,3253,4911
435,436,12-03-2019,spring,1,3,0,1,1,1,19.133347,22.979600,48.9167,13.916771,838,4460,5298
436,437,13-03-2019,spring,1,3,0,2,1,1,23.165000,27.146450,61.7500,15.875650,762,5085,5847
437,438,14-03-2019,spring,1,3,0,3,1,1,23.472500,27.430850,50.7083,7.709154,997,5315,6312
438,439,15-03-2019,spring,1,3,0,4,1,1,22.857500,26.641250,57.9583,10.042161,1005,5187,6192
439,440,16-03-2019,spring,1,3,0,5,1,2,17.869153,21.811450,84.2083,7.583864,548,3830,4378
440,441,17-03-2019,spring,1,3,0,6,0,2,21.080847,25.252300,75.5833,7.417168,3155,4681,7836
441,442,18-03-2019,spring,1,3,0,0,0,2,19.372500,23.200000,81.0000,8.501161,2207,3685,5892
442,443,19-03-2019,spring,1,3,0,1,1,1,22.345000,26.641050,72.8750,10.875239,982,5171,6153
443,444,20-03-2019,spring,1,3,0,2,1,1,22.994153,26.926650,80.7917,8.125157,1051,5042,6093
719,720,21-12-2019,spring,1,12,0,5,1,2,13.393347,15.088350,55.6667,25.083661,221,3402,3623
720,721,22-12-2019,spring,1,12,0,6,0,1,10.899153,11.805650,44.1250,27.292182,205,1544,1749
721,722,23-12-2019,spring,1,12,0,0,0,1,10.079153,12.973550,51.5417,8.916561,408,1379,1787
722,723,24-12-2019,spring,1,12,0,1,1,2,9.483464,12.945000,79.1304,5.174437,174,746,920
723,724,25-12-2019,spring,1,12,1,2,0,2,11.943464,14.723250,73.4783,11.304642,440,573,1013
724,725,26-12-2019,spring,1,12,0,3,1,3,9.976653,11.016650,82.3333,21.208582,9,432,441
725,726,27-12-2019,spring,1,12,0,4,1,2,10.420847,11.332100,65.2917,23.458911,247,1867,2114
726,727,28-12-2019,spring,1,12,0,5,1,2,10.386653,12.752300,59.0000,10.416557,644,2451,3095
727,728,29-12-2019,spring,1,12,0,6,0,2,10.386653,12.120000,75.2917,8.333661,159,1182,1341
728,729,30-12-2019,spring,1,12,0,0,0,1,10.489153,11.585000,48.3333,23.500518,364,1432,1796
729,730,31-12-2019,spring,1,12,0,1,1,2,8.849153,11.174350,57.7500,10.374682,439,2290,2729