In [13]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import sidetable as stb

from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy import stats
from scipy.stats import kstest

from datetime import datetime, timedelta

from datetime import date
import holidays 

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
df = pd.read_csv('data/bikes.csv', index_col = 0)
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

In [4]:
# Vemos las filas y columnas que tenemos:

df.shape

(730, 16)

In [5]:
# Visualizamos que no tenemos nulos:

df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [6]:
# Comprobamos que no hay duplicados:

df.duplicated().sum()

0

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [8]:
lista_columnas = list(df.columns)
lista_columnas

['instant',
 'dteday',
 'season',
 'yr',
 'mnth',
 'holiday',
 'weekday',
 'workingday',
 'weathersit',
 'temp',
 'atemp',
 'hum',
 'windspeed',
 'casual',
 'registered',
 'cnt']

In [9]:
#cambiamos el nombre de las columnas para que sea más comprensible.

dicc_columnas = {'instant' : 'instant',
                'dteday' : 'date',
                'season' : 'season',
                'yr' : 'year',
                'mnth' : 'month',
                'holiday' : 'holiday',
                'weekday' : 'weekday',
                'workingday' : 'working_day',
                'weathersit' : 'weather',
                'temp' : 'temperature',
                'atemp' : 'feeling_temperature',
                'hum' : 'humidity',
                'windspeed' : 'wind_speed',
                'casual' : 'casual',
                'registered' : 'registered',
                'cnt' : 'total'}

df.rename(columns = dicc_columnas, inplace = True)

In [10]:
columnas_unicos = ['season', 'year', 'month', 'holiday', 'weekday', 'working_day', 'weather']

In [11]:
# Revisamos los valores únicos para las columnas seleccionadas.

for col in columnas_unicos:
    print(f'La columna {col} tiene como valores únicos: {", ".join(map(str, df[col].unique()))}.')

La columna season tiene como valores únicos: spring, summer, autumn, winter.
La columna year tiene como valores únicos: 0, 1.
La columna month tiene como valores únicos: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12.
La columna holiday tiene como valores únicos: 0, 1.
La columna weekday tiene como valores únicos: 6, 0, 1, 2, 3, 4, 5.
La columna working_day tiene como valores únicos: 0, 1.
La columna weather tiene como valores únicos: 2, 1, 3.

In [15]:
# Cambiamos el formato de esta columna a datetime:

df["date"] = df["date"].apply(pd.to_datetime)

/tmp/ipykernel_4951/2707150541.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["date"] = df["date"].apply(pd.to_datetime)

In [19]:
# Modificamos la columna de años ya que únicamente había 0 y 1.

df["year"]= df["date"].apply(lambda x: x.strftime("%Y"))

In [20]:
df.head()

,instant,date,season,year,month,holiday,weekday,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,casual,registered,total
0,1,2018-01-01,spring,2018,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-02-01,spring,2018,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-03-01,spring,2018,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-04-01,spring,2018,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-05-01,spring,2018,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [21]:
df_spring = df[df['season'] == 'spring']

df_spring.head()

,instant,date,season,year,month,holiday,weekday,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,casual,registered,total
0,1,2018-01-01,spring,2018,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-02-01,spring,2018,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-03-01,spring,2018,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-04-01,spring,2018,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-05-01,spring,2018,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [23]:
df_summer = df[df['season'] == 'summer']
df_summer.head()

,instant,date,season,year,month,holiday,weekday,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,casual,registered,total
79,80,2018-03-21,summer,2018,3,0,1,1,2,17.647835,20.48675,73.7391,19.348461,401,1676,2077
80,81,2018-03-22,summer,2018,3,0,2,1,1,18.108347,22.03210,62.4583,15.125250,460,2243,2703
81,82,2018-03-23,summer,2018,3,0,3,1,2,14.225237,16.89695,83.9565,15.695487,203,1918,2121
82,83,2018-03-24,summer,2018,3,0,4,1,2,11.685000,13.54165,80.5833,16.333729,166,1699,1865
83,84,2018-03-25,summer,2018,3,0,5,1,1,10.830847,12.81560,49.5000,15.458575,300,1910,2210

In [25]:
df_summer["date"].min()

Timestamp('2018-01-04 00:00:00')

In [26]:
df_summer["date"].max()

Timestamp('2019-12-06 00:00:00')

In [32]:
def cambiar_estacion (fecha):
    if fecha >= "2018-03-20" and fecha <= "2018-06-20":
        return "spring"
    elif fecha >= "2019-03-20" and fecha <= "2019-06-20":
        return "spring"
    elif fecha >= "2018-06-21" and fecha <= "2018-09-22":
        return "summer"
    elif fecha >= "2019-06-21" and fecha <= "2019-09-22":
        return "summer"
    elif fecha >= "2018-09-23" and fecha <= "2018-12-21":
        return "autumn"
    elif fecha >= "2019-09-23" and fecha <= "2019-12-21":
        return "autumn"
    else:
        return "winter"

In [48]:
def cambiar_estacion (fecha):
    mes = fecha.strftime("%B")
    dia = int(fecha.strftime("%d"))
    
    if mes in ["April", "May"]:
        return "spring"
    
    elif mes == "March" and dia >= 20 or mes == "June" and dia <= 20:
        return "spring"
    
    if mes in ["April", "May"]:
        return "spring"
    
    elif mes == "March" and dia >= 20 or mes == "June" and dia <= 20:
        return "spring"
    
    if mes in ["April", "May"]:
        return "spring"
    
    elif mes == "March" and dia >= 20 or mes == "June" and dia <= 20:
        return "spring"
    
    if mes in ["April", "May"]:
        return "spring"
    
    elif mes == "March" and dia >= 20 or mes == "June" and dia <= 20:
        return "spring"
    

"""
    elif mes in ["June", "July", "August", "September"] >= "2019-03-20" and fecha <= "2019-06-20":
        return "spring"
    elif mes in ["September", "October", "November", "December"] >= "2018-06-21" and fecha <= "2018-09-22":
        return "summer"
    elif mes in ["December", "January",  "February", "March"] >= "2019-06-21" and fecha <= "2019-09-22":
        return "summer"
"""

'\n    elif mes in ["June", "July", "August", "September"] >= "2019-03-20" and fecha <= "2019-06-20":\n        return "spring"\n    elif mes in ["September", "October", "November", "December"] >= "2018-06-21" and fecha <= "2018-09-22":\n        return "summer"\n    elif mes in ["December", "January",  "February", "March"] >= "2019-06-21" and fecha <= "2019-09-22":\n        return "summer"\n'

In [43]:
df["date"].loc[0].strftime("%d")

'01'

In [49]:
df["season"] = df["date"].apply(cambiar_estacion)

In [50]:
df.head()

,instant,date,season,year,month,holiday,weekday,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,casual,registered,total
0,1,2018-01-01,None,2018,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,2018-02-01,None,2018,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,2018-03-01,None,2018,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,2018-04-01,spring,2018,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,2018-05-01,spring,2018,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600